{{#each-in game.board as |rowKey rowValues|}}
<tr id={{rowKey}}>
  {{#each-in rowValues as |columnKey columnValue|}}
    {{board-cell contents=columnValue rowIndex=rowKey columnIndex=columnKey}}
  {{/each-in}}
</tr>
{{/each-in}}

<div>
  {{game.currentPlayerText}}
</div>
