$base_color: rgba(46, 40, 42, 1);

$background_color: rgba(46, 40, 42, 0.1);

$border_color: rgba(46, 40, 42, 0.9);

$cell_color_1: rgba(70, 70, 85, 0.8);
$cell_color_2: rgba(70, 70, 85, 0.4);
$cell_color_3: rgba(70, 70, 85, 0.2);
