@import "variables";
@import "./components/board-grid";
@import "./components/board-cell";
@import "./components/current-player";

html, body {
  height: 100vh;
  margin: 0px;
  background: $background_color;
  height: 100vh;
  font-family: 'Poiret One', cursive;
}

.game-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
